<!doctype html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ SITE_NAME }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <header class="site-header">
  <div class="container header-inner">
    <a class="brand" href="{{ url_for('main.index') }}">
      <img src="{{ url_for('static', filename='logo.png') }}" alt="logo" style="width:28px;height:28px;border-radius:6px">
      <span>{{ SITE_NAME }}</span>
    </a>

    <nav class="topnav">
      <a href="{{ url_for('main.index') }}">Início</a>
      <a href="{{ url_for('main.herbario') }}">Herbário</a>
      <a href="{{ url_for('main.assistente') }}">Assistente Virtual (IA)</a>
      <a href="{{ url_for('auth.login') }}">Login</a>
      <a href="{{ url_for('main.sobre') }}">Sobre nós</a>
    </nav>
  </div>
</header>


  <main>{% block content %}{% endblock %}</main>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
